<table class="player-hitting-stats table table-sm table-dark text-center"
       style="text-align: center; vertical-align: center">
  <thead>
  <tr>
    <td scope="col">Year</td>
    <td scope="col">G</td>
    <td scope="col">H/AB</td>
    <td scope="col">R</td>
    <td scope="col">HR</td>
    <td scope="col">RBI</td>
    <td scope="col">BB</td>
    <td scope="col">K</td>
    <td scope="col">SB</td>
    <td scope="col">AVG</td>
    <td scope="col">OBP</td>
    <td scope="col">OPS</td>
  </tr>
  </thead>
  <tbody>
  <tr scope="row" *ngFor="let hittingStat of playerStats?.hittingStats">
    <td>{{hittingStat?.year}}</td>
    <!--<td>{{hittingStat?.teamId}}</td>-->
    <td>{{hittingStat?.hits}}/{{hittingStat?.games}}</td>
    <td>{{hittingStat?.atbats}}</td>
    <td>{{hittingStat?.runs}}</td>
    <td>{{hittingStat?.homeRuns}}</td>
    <td>{{hittingStat?.rbis}}</td>
    <td>{{hittingStat?.walks}}</td>
    <td>{{hittingStat?.strikeOuts}}</td>
    <td>{{hittingStat?.stolenBases}}</td>
    <td>{{hittingStat?.average | number:'1.2'}}</td>
    <td>{{hittingStat?.obp}}</td>
    <td>{{hittingStat?.ops | number:'1.3'}}</td>
  </tr>
  </tbody>
</table>
