<div class="card" style="padding: 10px">
  <div class="text-muted">
    <strong>Trending</strong>
  </div>
  <div class="card-block">
    <div *ngFor="let player of mlbTwits?.trending">
      <i class="fa fa-line-chart fa-1x text-muted"></i>
      <a href="/players/{{player.playerId}}">{{player.playerName}}</a> &nbsp;
    </div>
  </div>
</div>

<br/>

<a href="/players">{{mlbTwits?.players}} players</a>
<a href="/users">{{mlbTwits?.users}} users</a>
<a href="/teams">{{mlbTwits?.teams}} teams</a>
