<div class="card" style="cursor: pointer; margin-bottom: 10px;">
  <img class="card-img-top" *ngIf="player?.mlbPlayerId" [src]="getPlayerMugshotUrl(player?.mlbPlayerId)">
  <div class="card-block">
    <div class="card-title">
      <a class="text-center" href="/players/{{player?.playerId}}">{{player?.playerName}} ({{team?.teamCodeMlb}} - {{player?.position}})</a>
      <pre><p>{{player?.birthCountry}}
{{player?.heightFeet}}' {{player?.heightInches}}" {{player?.weight}} lbs
Bats: {{player?.bats}} Throws: {{player?.throws}}
<label *ngIf="player?.birthDate">Age: {{calculateAge(player?.birthDate)}}</label></p></pre></div>
  </div>
</div>
