<div class="card" style="cursor: pointer">
  <img class="card-img-top" *ngIf="player" [src]="getPlayerMugshotUrl(player?.mlbPlayerId)">
  <div class="card-block">
    <p class="card-title">
      <a class="text-center" href="/players/{{player?.playerId}}">{{player?.playerName}} ({{player?.position}})</a>
    </p>
  </div>
  <div class="card-footer">
    <!--<span class="float-right">Joined in 2013</span>-->
    <!--Rank: 1-->
    <label>{{player?.birthCountry}}</label>
    <label>Height: {{player?.heightFeet}}' {{player?.heightInches}}"</label>
    <label>Weight: {{player?.weight}} lbs</label>

    <label>Bats: {{player?.bats}}</label>
    <label>Throws: {{player?.throws}}</label>
    <label *ngIf="player?.birthDate">Age: {{calculateAge(player?.birthDate)}}</label>
  </div>
</div>
