<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3 sidebar">
      <div class="mini-submenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
      <div class="list-group">
        <span class="list-group-item"><strong>User Settings</strong></span>
        <a class="list-group-item">Profile</a>
        <a class="list-group-item">Account</a>
        <a class="list-group-item">Emails</a>
        <a class="list-group-item">Notifications</a>
        <a class="list-group-item">Billing</a>
        <a class="list-group-item">Blocked users</a>
      </div>
    </div>
  </div>
</div>
