<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div>
        <input placeholder="filter players..." #term (keyup)="searchPlayers(term.value)" />
        <button class="btn btn-info" type="button" (click)="searchPlayers(term.value)">Search</button>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-sm-2" *ngFor="let player of players" style="padding-bottom: 20px">
      <div class="card" *ngIf="player.mlbPlayerId">
        <img class="card-img-top" src="http://gdx.mlb.com/images/gameday/mugshots/mlb/{{player?.mlbPlayerId}}@2x.jpg">
        <div class="card-block">
          <strong class="card-title text-center"><a href="/players/{{player.playerId}}">{{player.playerName}}</a></strong>
        </div>
        <div class="card-footer">
          <!--<span class="float-right">Joined in 2013</span>-->
          <!--Rank: 1-->
        </div>
      </div>
    </div>
  </div>
</div>
