<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div>
        <input placeholder="filter players..." #term (keyup)="searchPlayers(term.value)"/>
        <button class="btn btn-info" type="button" (click)="searchPlayers(term.value)">Search</button>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row">
    <!--<div class="col-sm-2" *ngFor="let player of players" style="padding-bottom: 20px">-->
    <!--<div class="card" *ngIf="player.mlbPlayerId">-->
    <!--<img class="card-img-top" [src]="getPlayerMugshotUrl(player.mlbPlayerId)">-->
    <!--<div class="card-block">-->
    <!--<strong class="card-title text-center"><a href="/players/{{player.playerId}}">{{player.playerName}}</a></strong>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
    <!--&lt;!&ndash;<span class="float-right">Joined in 2013</span>&ndash;&gt;-->
    <!--&lt;!&ndash;Rank: 1&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div>
      <!--<ngx-datatable-column>-->
      <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
      <!--<div id="job" class="card" style="width: 20rem; cursor: pointer;" (click)="viewJobDetails(row.jobId)">-->
      <!--<div style="align: center">-->
      <!--<img *ngIf="row.companyLogo" style="float: left; padding-top: 15px; padding-left: 20px" width="35%"-->
      <!--height="35%" src="{{row.companyLogo}}">-->
      <!--</div>-->
      <!--<div class="card-body">-->
      <!--<div>-->
      <!--<h6 class="card-title">-->
      <!--<a href="jobs/{{row.jobId}}">-->
      <!--<strong>{{row.title}}</strong>-->
      <!--</a>-->
      <!--</h6>-->
      <!--<div>-->
      <!--<h6 class="card-subtitle mb-2 text-muted">{{row.company}}</h6>-->
      <!--<h6 class="card-subtitle mb-2 text-muted">{{row.location}}</h6>-->
      <!--<hr/>-->
      <!--<h6 class="card-subtitle mb-2 text-muted">{{row.createdTimestamp | timeAgo}}</h6>-->
      <!--<button (click)="shortlist($event, row.jobId)">&hearts; Shortlist</button>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<br/>-->
      <!--</ng-template>-->
      <!--</ngx-datatable-column>-->

      <ngx-datatable
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [limit]="10"
        [rowHeight]="'auto'">

        <div class="card-deck">

          <ngx-datatable-column style="padding-bottom: 20px">
            <ng-template let-row="row" ngx-datatable-cell-template>

              <strong class="card-title text-center"><a
                href="/players/{{row.playerId}}">{{row.playerName}}</a></strong>

              <!--<div class="card" style="width: 20rem; cursor: pointer;" *ngIf="row?.mlbPlayerId">-->
              <!--<img class="card-img-top" [src]="getPlayerMugshotUrl(row.mlbPlayerId)">-->
              <!--<div class="card-block">-->
              <!--<strong class="card-title text-center"><a-->
              <!--href="/players/{{row.playerId}}">{{row.playerName}}</a></strong>-->
              <!--</div>-->
              <!--<div class="card-footer">-->
              <!--&lt;!&ndash;<span class="float-right">Joined in 2013</span>&ndash;&gt;-->
              <!--&lt;!&ndash;Rank: 1&ndash;&gt;-->
              <!--</div>-->
              <!--</div>-->
            </ng-template>
          </ngx-datatable-column>
        </div>
      </ngx-datatable>
    </div>
  </div>
</div>
