<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div>
        <input placeholder="filter users..." #term (keyup)="searchUsers(term.value)" />
        <span class="input-group-btn">
              <button class="btn btn-info btn-lg" type="button" (click)="searchUsers(term.value)">
                  <i class="fa fa-search"></i>
              </button>
          </span>
      </div>
    </div>

    <div class="col-md-8">
      <div *ngFor="let user of users">
        <a href="/users/{{user.userId}}">{{user.username}}</a>
      </div>
    </div>
  </div>
</div>
