Schools:
<ol>
  <li>Get invited</li>
  <li>Invite students & alumnis</li>
  <li>Approve jobs</li>
  <li>Showcase students</li>
</ol>

Students:
<ol>
  <li>Get invited by school</li>
  <li>Upload resume</li>
  <li>Search, shortlist, apply</li>
  <li>Interview</li>
  <li>Negotiate</li>
  <li>Accept Offer</li>
  <li>Review companies (optional, disclose everything!)</li>
</ol>

Companies:
<ol>
  <li>Get invited</li>
  <li>Select schools</li>
  <li>Post jobs</li>
  <li>Interview</li>
  <li>Offer</li>
  <li>Negotiate</li>
</ol>

<h1>calendar</h1>
<h5>job posting cycles</h5>

<h1>feedback</h1>
<h5>upvote</h5>
