<div class="row">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-8">
    <!-- SHOW ERROR/SUCCESS MESSAGES -->
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"
         close="closeAlert($index)">{{alert.msg}}
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Post</h4>
      </div>
      <div class="panel-body">

        <div class="box box-info">
          <div class="box-body">
            <!-- FORM -->
            <form ng-submit="postJob()">
              <!-- TITLE -->
              <div id="name-group" class="form-group">
                <label>Title</label>
                <input type="text" name="title" class="form-control" placeholder="Title" ng-model="job.title" required>
                <span class="help-block"></span>
              </div>

              <!-- DESCRIPTION -->
              <div id="name-group" class="form-group">
                <label>Description</label>

                <textarea style="height:125px; resize: none;" cols="30" rows="10" name="description"
                          class="form-control" placeholder="Description" ng-model="job.description"
                          required></textarea>
                <span class="help-block"></span>
              </div>

              <!-- TYPE -->
              <div id="name-group" class="form-group">
                <label>Type</label>
                <input type="text" name="type" class="form-control" placeholder="Type" ng-model="job.type" required>
                <span class="help-block"></span>
              </div>

              <!-- TOTAL OPENINGS -->
              <div id="name-group" class="form-group">
                <label>Total Openings</label>
                <input type="number" name="totalOpenings" class="form-control" placeholder="Total Openings"
                       ng-model="job.totalOpenings" required>
                <span class="help-block"></span>
              </div>

              <!-- SUBMIT BUTTON -->
              <div align="center">
                <button type="submit" class="btn btn-success btn-lg btn-block">
                  Post
                </button>
              </div>
            </form>

            <br/>

            <textarea style="height:125px; resize: none;" cols="30" rows="10" name="description"
                      class="form-control">{{ job }}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
  </div>
</div>
