<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Job</div>
      <div class="panel-body">
        <div class="box box-info">
          <div class="box-body">
            <div class="col-sm-6">
              <div align="center">
                <!--<img height="200px" width="200px" src="images/student_profile_nobody.jpg"-->
                <!--class="img-circle img-responsive">-->
                <i class="fa fa-briefcase fa-5x" aria-hidden="true"></i>
                <div style="color:#999;">click here to change profile image</div>
              </div>
              <br>
            </div>

            <div class="col-sm-6">
              <h4 style="color:#00b1b1;">{{job.title}}</h4></span>
              <h4 style="color:#00b1b1;">Company</h4></span>
              <h4 style="color:#00b1b1;">Ontario, Canada, Planet Earth</h4></span>
            </div>

            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">

            <div class="col-sm-5 col-xs-6 tital "><strong>Id</strong></div>
            <div class="col-sm-7 col-xs-6 ">{{job.jobId}}</div>
            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="col-sm-5 col-xs-6 tital "><strong>Company Id</strong></div>
            <div class="col-sm-7 col-xs-6 ">{{job.companyId}}</div>
            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="col-sm-5 col-xs-6 tital "><strong>Type</strong></div>
            <div class="col-sm-7 col-xs-6 ">{{job.type}}</div>
            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="col-sm-5 col-xs-6 tital "><strong>Industry</strong></div>
            <div class="col-sm-7 col-xs-6">Industry</div>
            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="col-sm-5 col-xs-6 tital "><strong>Status</strong></div>
            <div class="col-sm-7 col-xs-6 ">{{job.status}}</div>
            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="col-sm-5 col-xs-6 tital "><strong>Created</strong></div>
            <div class="col-sm-7 col-xs-6 ">{{job.createdTimestamp | date}}</div>
            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">

            <div class="col-sm-5 col-xs-6 tital "><strong>Total Openings</strong></div>
            <div class="col-sm-7 col-xs-6 ">{{job.totalOpenings}}</div>
            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="col-sm-5 col-xs-6 tital "><strong>Total Applicants</strong></div>
            <div class="col-sm-7 col-xs-6 ">0</div>
            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="col-sm-5 col-xs-6 tital "><strong>Total Views</strong></div>
            <div class="col-sm-7 col-xs-6 ">0</div>
            <div class="clearfix"></div>
            <div class="bot-border"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Share</div>
      <div class="panel-body">
        <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i>
        <i
          class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">Description</div>
      <div class="panel-body">
        {{job.description}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" style="color: red">Required</div>
      <div class="panel-body">
        <h5>skill 1, skill 2, skill 3</h5>
        <h5>relocation</h5>
        <h5>visa</h5>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Optional</div>
      <div class="panel-body">
        <h5>skill 1, skill 2, skill 3</h5>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Salary</div>
      <div class="panel-body">
        Not a paid position!
      </div>
    </div>
  </div>
</div>
