<table st-table="jobCollection" st-safe-src="jobList" class="table table-striped">
  <tr>
    <!-- TODO: add dropdown, filter by location etc -->
    <th colspan="10"><input st-search="" class="form-control" placeholder="Filter results..." type="text"/></th>
  </tr>
  <thead>
  <tr>
    <th></th>
    <th st-sort="company" class="st-sort-ascent">Company</th>
    <th st-sort="title" class="st-sort-ascent">Title</th>
    <th st-sort="description" class="st-sort-ascent">Description</th>
    <th st-sort="type" class="st-sort-ascent">Type</th>
    <th st-sort="createdTimestamp" class="st-sort-ascent">Created</th>
    <th st-sort="status" class="st-sort-ascent">Status</th>
    <!--<th st-sort="location" class="st-sort-ascent">Location</th>-->
    <!--<th st-sort="employername" class="st-sort-ascent">Company</th>-->
    <!--<th st-sort="type" class="st-sort-ascent">Type</th>-->
    <!--<th >Description</th>-->
    <!--<th>Status</th>-->
    <!--<th>Apply</th>-->
    <th st-sort="totalOpenings" class="st-sort-ascent">Openings</th>
    <th>Applications</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="job in jobCollection">

    <!-- TODO: load icon -->
    <td><i class="fa fa-briefcase fa-2x" aria-hidden="true"></i>
    </td>
    <td>{{job.companyId}}</td>
    <td><a ng-href="#/jobs/{{job.jobId}}">{{job.title}}</a></td>
    <td>{{job.description}}</td>
    <td>{{job.type}}</td>
    <td>{{job.createdTimestamp | date}}</td>
    <!--<td>{{job.location}}</td>-->
    <!--<td>{{job.employername}}</td>-->
    <!--<td>Full-Time</td>-->
    <!--<td>{{job.description_9 | limitTo: 100}}{{job.description_9.length > 100 ? '...' : ''}}</td>-->
    <td><span class="label label-warning">{{job.status}}</span></td>
    <!--<td><a data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-sm">Apply</a></td>-->
    <td style="text-align: center">{{job.totalOpenings}}</td>
    <td style="text-align: center">0</td>
  </tr>
  </tbody>
</table>
