<div class="row">
  <div class="col-sm-1">
  </div>

  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>EXPLORE</strong></div>
      <div class="panel-body">
        <form class="form-inline ng-pristine ng-valid" align="center">
          <input disabled="" size="20"
                 style="height: 40px; font-family: Calibri; color: black; font-size: 150%; width: 100%"
                 type="text" class="form-control"
                 placeholder="{{mlbtwits.players}} Players...">
          <a ng-href="#/players">
            <button style="border: none; background: none; color: black"><p><i class="fa fa-search fa-2x"
                                                                               aria-hidden="true"></i></p>
            </button>
          </a>
        </form>

        <form class="form-inline ng-pristine ng-valid" align="center">
          <input disabled="" size="20"
                 style="height: 40px; font-family: Calibri; color: black; font-size: 150%; width: 100%"
                 type="text" class="form-control"
                 placeholder="{{mlbtwits.teams}} Teams...">
          <a ng-href="#/teams">
            <button style="border: none; background: none; color: black"><p><i class="fa fa-search fa-2x"
                                                                               aria-hidden="true"></i></p>
            </button>
          </a>
        </form>

        <form class="form-inline ng-pristine ng-valid" align="center">
          <input disabled="" size="20"
                 style="height: 40px; font-family: Calibri; color: black; font-size: 150%; width: 100%"
                 type="text" class="form-control"
                 placeholder="{{mlbtwits.users}} Users...">
          <a ng-href="#/users">
            <button style="border: none; background: none; color: black"><p><i class="fa fa-search fa-2x"
                                                                               aria-hidden="true"></i></p>
            </button>
          </a>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>SHARE</strong></div>
      <div class="panel-body" style="height: 200px">

        <!-- FORM -->
        <form ng-submit="tweetPlayer()">
          <!-- TWEET -->
          <div id="tweet" class="form-group">
            <!--<label>Description</label>-->

            <textarea style="height:100px; resize: none;" cols="30" rows="10"
                      name="tweet"
                      class="form-control"
                      placeholder="Tweet @..."
                      required
                      type="text"
                      mentio
                      mentio-id="'test'"
                      mentio-typed-text="typedTerm"
                      ng-model="tweet.message">
            </textarea>

            <mentio-menu mentio-for="'test'"
                         mentio-trigger-char="'@'"
                         mentio-items="players"
                         mentio-search="searchPlayers(term)"
                         mentio-select="getPlayerTextRaw(item)">
            </mentio-menu>

            <span class="help-block"></span>
          </div>

          <!-- SUBMIT BUTTON -->
          <button type="submit" class="btn btn-success btn-lg btn-block">
            Tweet
          </button>
        </form>

        <br/>

        <!--&lt;!&ndash; SHOW ERROR/SUCCESS MESSAGES &ndash;&gt;-->
        <!--<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"-->
        <!--close="closeAlert($index)">{{alert.msg}}-->
        <!--</div>-->

        <!--<textarea style="height:125px; resize: none;" cols="30" rows="10" name="description"-->
        <!--class="form-control">{{ tweet }}</textarea>-->

      </div>
    </div>
    <ul class="list-group" style="max-height: 500px; overflow-y: auto">
      <li class="list-group-item" ng-repeat="tweet in tweets">
        {{tweet.message}}
        <br/>
        <div>
          <i class="fa fa-reply" style="color: lightgray" aria-hidden="true"></i>
          <i class="fa fa-retweet" style="color: lightgray" aria-hidden="true"></i>
          <i class="fa fa-share-alt" style="color: lightgray" aria-hidden="true"></i>
          <i class="fa fa-heart" style="color: lightgray" aria-hidden="true"></i>

          <span am-time-ago="tweet.createdTimestamp" style="float:right;font-size:1em;font-weight:600;color: darkgrey"></span>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-sm-2">
   <div class="panel panel-default">
      <div class="panel-heading" style="text-align: center"><strong>TRENDING</strong></div>
      <div class="panel-body">
        <div ng-repeat="player in mlbtwits.trending">
          <a ng-href="#/players/{{player.playerId}}">
            <i class="fa fa-line-chart fa-2x" aria-hidden="true"></i> {{ player.playerName }}
            <!--{{$last ? '' : ','}}-->
          </a>
        </div>
      </div>
    </div>

    <!--<div class="panel panel-default">-->
      <!--<div class="panel-heading" style="text-align: center"><strong>TRANSACTION TRENDS (YAHOO)</strong></div>-->
      <!--<div class="panel-body">-->
        <!--<div ng-repeat="player in mlbtwits.trendingYahoo">-->
          <!--&lt;!&ndash;<a ng-href="#!/players/{{player.name}}">&ndash;&gt;-->
            <!--<div>-->
              <!--<i class="fa fa-line-chart fa-2x" aria-hidden="true"></i> {{ player.playerName }}-->
              <!--({{ player.transactions }})-->
            <!--</div>-->
            <!--&lt;!&ndash;{{$last ? '' : ','}}&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>

  <div class="col-sm-1">
  </div>
</div>
