<div class="row">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-8">
    <div align="center">
      <h1>
        <p style="font-family: Calibri; color: blue; font-size: 200%"><b>mlbtwits</b></p>
      </h1>
    </div>

    <div align="center">
      <img src="images/buddy_stare.png"/>
    </div>

    <div align="center">
      <h4>trending:
        <a href="#/player"><strong>Jose Fernandez</strong></a>,
        <a href="#/player"><strong>Ricky Nolasco</strong></a>,
        <a href="#/player"><strong>Dee Gordon</strong></a>,
        <a href="#/player"><strong>David Ortiz</strong></a>,
        <a href="#/player"><strong>Yoan Moncada</strong></a>
      </h4>
    </div>

    <br/>

    <div align="center">
      <h4>tweet @
        <strong>{{mlbtwits.players}}</strong> <a href="#/players">players</a>
        <br/>
        free for
        <strong>{{mlbtwits.users}}</strong> <a href="#/players">users</a>
      </h4>
    </div>

    <br/>

    <div align="center"> <!-- TODO: countries -->
      <form class="form-inline ng-pristine ng-valid"><input disabled="" size="20"
                                                            style="height: 30px; font-family: Calibri; color: blue; font-size: 150%"
                                                            type="text" class="form-control"
                                                            placeholder="Players, Users, Tweets...">
        <a href="#/results">
          <button style="border: none; background: none; color: blue"><p><i class="fa fa-search fa-2x" aria-hidden="true"></i></p>
          </button>
        </a></form>
    </div>

    <br/>
    <br/>

  </div>
</div>
<div class="col-sm-2">
</div>
</div>
