<div class="row" xmlns="http://www.w3.org/1999/html">

  <div class="col-sm-2">

  </div>

  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">Player</div>
      <div class="panel-body" style="height: 400px">
        <div class="box box-info">
          <div class="box-body">
            <div class="col-sm-6">
              <div align="center">
                <i class="fa fa-futbol-o fa-5x" aria-hidden="true"></i>
                <div style="color:#999;">click here to change player image</div>
              </div>
              <br>
            </div>

            <div class="col-sm-6">
              <h4 style="color:#00b1b1;">{{player.name}}</h4></span>
            </div>

            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">

            <div>
              <div class="col-sm-5 col-xs-6 tital"><strong>Dreams</strong></div>
              <div class="col-sm-7 col-xs-6 ">be the best player</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
            </div>

            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">

            <div class="col-sm-5 col-xs-6 tital "><strong>Id</strong></div>
            <div class="col-sm-7 col-xs-6 ">{{player.playerId}}</div>
            <div class="clearfix"></div>
            <div class="bot-border"></div>

          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Player (back)</div>
      <div class="panel-body" style="height: 400px">
      </div>
    </div>
  </div>

  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">Share</div>
      <div class="panel-body" style="height: 150px">
        <h4>Tweet {{player.name}}</h4>
        <input style="height: 50px; width: 100%" placeholder="@{{player.name}} you rock...!">
        </input>
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item"><strong>@{{player.name}}</strong> rocks!</li>
      <li class="list-group-item"><strong>@{{player.name}}</strong> sucks!</li>
      <li class="list-group-item"><strong>@{{player.name}}</strong> got the closer gig!</li>
      <li class="list-group-item"><strong>@{{player.name}}</strong> have a good feeling about <strong>@{{player.name}}</strong> this year!</li>
      <li class="list-group-item">
        Vestibulum at eros
        <span style="float:right;font-size:1em;font-weight:400;color:#999999">2h</span>
      </li>
    </ul>
  </div>

  <div class="col-sm-2">
  </div>

</div>
