<div class="row">
  <div class="col-sm-5">
  </div>

  <div class="col-sm-2">
    <div class="panel panel-default">
      <div class="panel-heading">Register</div>
      <div class="panel-body">
        <div align="center">
          <a href="#/school/register"><i class="fa fa-graduation-cap fa-5x" style="font-size: 50px"
                                         aria-hidden="true"></i></a>
          <p style="font-family: Calibri; font-size: 100%"><b>School</b></p>

          <div class="clearfix"></div>
          <hr/>

          <a href="#/student/register"><i class="fa fa-user fa-5x" style="font-size: 50px" aria-hidden="true"></i></a>
          <p style="font-family: Calibri; font-size: 100%"><b>Student</b></p>

          <div class="clearfix"></div>
          <hr/>

          <a href="#/company/register"><i class="fa fa-building fa-5x" style="font-size: 50px"
                                          aria-hidden="true"></i></a>
          <p style="font-family: Calibri; font-size: 100%"><b>Company</b></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-5">
  </div>
</div>
