<div class="row">
  <div class="col-sm-4">
  </div>

  <div class="col-sm-4">
    <!-- SHOW ERROR/SUCCESS MESSAGES -->
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"
         close="closeAlert($index)">{{alert.msg}}
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>School</h4>
      </div>
      <div class="panel-body">
        <div class="box box-info">
          <div class="box-body">

            <div align="center">
              <div class="isa_warning fa-2x">
                <i class="fa fa-warning" style="color: red"></i>
              </div>
              <p style="color: red"><strong>please enter personal details at your own risk</strong></p>
            </div>

            <!-- FORM -->
            <form ng-submit="registerSchool()">
              <!-- NAME -->
              <div id="name-group" class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control" placeholder="Name" ng-model="school.name" required>
                <span class="help-block"></span>
              </div>

              <!-- DESCRIPTION -->
              <div id="name-group" class="form-group">
                <label>Description</label>

                <textarea style="height:125px; resize: none;" cols="30" rows="10" name="description"
                          class="form-control" placeholder="Description" ng-model="school.description"
                          required></textarea>
                <span class="help-block"></span>
              </div>

              <!-- TYPE -->
              <div id="name-group" class="form-group">
                <label>Type</label>
                <input type="text" name="type" class="form-control" placeholder="Type" ng-model="school.type" required>
                <span class="help-block"></span>
              </div>

              <!-- TOTAL STUDENTS -->
              <div id="name-group" class="form-group">
                <label>Total Students</label>
                <input disabled="true" type="number" name="totalStudents" min="1" class="form-control"
                       placeholder="Total Students"
                       ng-model="school.totalStudents">
                <span class="help-block"></span>
              </div>

              <!-- ESTABLISHED DATE -->
              <div id="name-group" class="form-group">
                <label>Established Date</label>
                <input disabled="true" type="text" name="establishedDate" class="form-control"
                       placeholder="Established Date"
                       ng-model="school.establishedDate">
                <span class="help-block"></span>
              </div>

              <!-- SUBMIT BUTTON -->
              <button type="submit" class="btn btn-success btn-lg btn-block">
                Register
              </button>
            </form>

            <br/>

            <textarea style="height:125px; resize: none;" cols="30" rows="10" name="description"
                      class="form-control">{{ school }}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
  </div>
</div>
