<table st-table="rowCollection" st-safe-src="rowList" class="table table-striped">
  <tr>
    <!-- TODO: add dropdown, filter by location etc -->
    <th colspan="10"><input st-search="" class="form-control" placeholder="Filter results..."
                            type="text"/></th>
  </tr>
  <thead>
  <tr>
    <th></th>
    <th st-sort="username" class="st-sort-ascent">Username</th>
    <th st-sort="name" class="st-sort-ascent">Name</th>
    <th st-sort="emailAddress" class="st-sort-ascent">Email</th>
    <!--<th st-sort="school" class="st-sort-ascent">School</th>-->
    <th st-sort="employmentStatus" class="st-sort-ascent">Employment Status</th>
    <th st-sort="joinedTimestamp" class="st-sort-ascent">Joined</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in rowCollection">
    <!-- TODO: load icon -->
    <td>
      <i class="fa fa-user fa-2x" aria-hidden="true"></i>
    </td>
    <td><a ng-href="#/students/{{row.studentId}}">{{row.username}}</a></td>
    <td>{{row.firstName + ' ' + row.lastName}}</td>
    <td>{{row.emailAddress}}</td>
    <!--<td>University of Waterloo</td>-->
    <td>{{row.employmentStatus}}</td>
    <td>{{row.joinedTimestamp | date}}</td>
  </tr>
  </tbody>
</table>
