<table st-table="teamsCollection" st-safe-src="teamList" class="table table-striped">
  <tr>
    <th colspan="10"><input st-search="" class="form-control" placeholder="Filter results..."
                            type="text"/></th>
  </tr>
  <thead>
  <tr>
    <th></th>
    <th st-sort="teamId" class="st-sort-ascent">Team Id</th>
    <th st-sort="getters.team" class="st-sort-ascent">Team</th>
    <th st-sort="getters.teamCode" class="st-sort-ascent">Team Code</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="team in teamsCollection">
    <td>
      <i class="fa fa-user fa-2x" aria-hidden="true"></i>
    </td>
    <td>{{team.teamId}}</td>
    <td><a ng-href="#!/teams/{{team.teamId}}">{{team.name}}</a></td>
    <td>{{team.teamCode}}</a></td>
  </tbody>

  <tfoot>
  <tr>
    <td class="text-center" st-pagination="" st-items-by-page="30" colspan="10">
    </td>
  </tr>
  </tfoot>
</table>


