<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img ng-src="teamLogo"/>
        <div class="card-block">
          <h4 class="card-title">{{team?.teamName}}</h4>
          <h4 class="card-title">{{team?.teamCodeMlb}}</h4>
        </div>
      </div>
    </div>
    <div class="col-md-9">

      <div class="card">
        <img ng-src="teamLogo"/>
        <div class="card-title"><strong>40 man roster</strong></div>
        <div class="card-block" *ngFor="let player of roster">
          <a href="/players/{{player.playerId}}">{{player.playerName}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
