<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-trending></app-trending>
    </div>

    <div class="col-md-8">
      <div>
        <ng-template #rt let-r="result" let-t="term">
          <!--<img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" width="16">-->
          {{ r.playerName}}
        </ng-template>

        <input
          class="tweet-input"
          [(ngModel)]="model"
          [ngbTypeahead]="search"
          [resultTemplate]="rt"
          [inputFormatter]="formatter"
          placeholder="What's on your mind?"
        />

        <hr>
        <pre>Model: {{ model | json }}</pre>

        <button type="submit" class="btn btn-success btn-lg btn-block" (click)="tweetPlayer()">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          Share
        </button>
      </div>

      <br/>

      <div>
        <div>
          <div class="card">
            <ul class="list-group">
              <li class="list-group-item list-group-flush" *ngFor="let tweet of tweets"><strong>{{tweet?.username}}</strong>
                {{tweet?.message}}
                <br/>
                <div>
                  <span style="float:right;font-size:1em;font-weight:600;color: darkgrey">{{FIXME_timeAgo(tweet?.createdTimestamp)}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
