.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.tweet-input {
  //padding-left: 0;
  //padding-top: 0;
  //padding-bottom: 0.4em;
  //padding-right: 0.4em;
}
