<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-trending></app-trending>
    </div>

    <div class="col-md-8">
      <div>
        <ng-template #rt let-r="result" let-t="term">
          <img *ngIf="r?.mlbPlayerId" [src]="getPlayerMugshotUrl(r.mlbPlayerId)" width="16">
          {{ r.playerName}}
        </ng-template>

        <input
          class="tweet-input"
          style="width: 100%; height: 40px; margin-bottom: 10px"
          [(ngModel)]="message"
          [ngbTypeahead]="search"
          [resultTemplate]="rt"
          [inputFormatter]="formatter"
          (ngModalChange)="test($event)"
          placeholder="@player message..."
        />
        <br/>
        <button type="submit" class="btn btn-success btn-lg btn-block" (click)="tweet(message)">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          Share
        </button>
        <hr>
      </div>
      <div>
        <div>
          <div class="card">
            <ul class="list-group">
              <li class="list-group-item list-group-flush" *ngFor="let tweet of tweets">
                <strong>{{tweet?.username}}</strong>
                {{tweet?.message}}
                <br/>
                <div>
                  <span style="float:right;font-size:1em;font-weight:600;color: darkgrey">{{FIXME_timeAgo(tweet?.createdTimestamp)}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
